
/* .color-primari {
    color: var(--cor-primari);
}
.bg-primari {
    background: var(--cor-primari);
} */
/* .dark-mode:root {

} */

/* // CONFIG BODY // */

/* // CONFIG HEADER // */

header {
    width: 1330px;
    max-width: 70%;
    margin: auto;
    padding: 20px 70px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0000004f;
    padding: 5px 30px;
    border-radius: 15px;
}

/* // SITE LOGO // */

.navigation .logo-i {
    width: 45px;
}

/* // HEADER OPTIONS // */

.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation ul li a {
    font-family: var(--font-1);
    font-weight: bolder;
    color: #dfdfdf;
    font-weight: 500;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
    
}

.navigation ul li a:hover {
    color: #ffff;
    border-bottom: 2px solid#ffff;
}
.navigation .check {
    color: #ffff;
    border-bottom: 2px solid#ffff;
}
    

/* // MAIN // */

section {
    max-width: 1440px;
    margin: auto;
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

/* // SECTION TEXT // */


.main-text img {
    width: 15rem;
    margin-bottom: 3vh;
}

.main-text h1 {
    font-family: var(--font-1);
    font-size: 4rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.main-text p {
    font-family: var(--font-1);
    margin-bottom: 1.5rem;
}

.main-text h2 {
    font-family: var(--font-2);
    letter-spacing: 1px;
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main-text .btn {
    font-family: var(--font-2);

    padding: 10px;
    background-color: #003061;
    border-radius: 15px;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.7s;
}

.main-text .btn:hover {
    padding: 13px;
    background-color: #01203f;
}

.main-text .text h3 {
    font-family: var(--font-2);
    font-size: 1rem;
    color: #444;
    margin: 2rem 0;
}

.main-text .content-btn {
    display: flex;
    align-items: center;
    gap: 13px;
}

.main-text .content-btn span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px rgba(136, 136, 136, 0.349);
    transition: all .5s;
}

.main-text .content-btn span:hover {
    transform: scale(1.1);
}

/* // COLORS TO CHANGE THE IPHONE// */

#green {
    background-color: var(--green-i);
}

#pink {
    background-color: var(--pink-i);
}

#blue {
    background-color: var(--blue-i);
}

#black {
    background-color: var(--black-i);
}

#white {
    background-color: var(--white-i);
}

#red {
    background-color: var(--red-i);
}

/* // IMAGE IPHONE // */

.main-img {
    transition: all 1s ease-in-out;
    z-index: 100;
}

.main-img img {
    width: 500px;
    transform: rotate(-7deg);
    transition: .5s cubic-bezier(0.77, 0.18, 0.26, 0.93);
}

.main-img img:hover { 
    transform: translateY(-5%);
}


/* // CIRCLES BEHIND THE IPHONE // */

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #445c42;
    clip-path: circle(1000px at right 1200px );
    border: none;
}